name: Build
permissions:
  contents: read
on:
  push:
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'corretto'
        cache: maven
    - name: Build
      run: ./mvnw -B clean verify